{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tasks - Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'taskr_app/style/style.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- TODO: Remove this, debugging in dev only -->
        {% if tasks_due_soon_list %}
            <ul>
            {% for task in tasks_due_soon_list %}
                <li><a href="{% url 'taskr_app:detail' task.id %}">{{ task.title }}</a></li>
            {% endfor %}
            </ul>
            <div class="calendar-widget" id="calendar">
            </div>
        {% endif %}
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
        <script src="{% static 'taskr_app/js/script.js' %}"></script>
        <script>
            data = [
            {% for item in tasks_due_soon_list %}
             {eventName: "{{ item.title }}", calendar: "Tasks", color: "orange", date: new moment("{{ item.due_next }}"), ref: "{% url 'taskr_app:detail' item.id %}" },
            {% endfor %}
            ]
            var calendar = new Calendar('#calendar', data);
        </script>
    </body>
</html>